body {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 15vh;
  background-color: slategrey;
}
button {
  height: 75px;
  flex-basis: 25%;
  color: white;
  background-color: grey;
  font-weight: bold;
  font-size: 16px;
  border: solid 1px black;
}
button:hover {
  height: 75px;
  flex-basis: 25%;
  color: black;
  background-color: grey;
  font-weight: bold;
  font-size: 16px;
  border: solid 1px white;
}
#calculator {
  background-color: lightgrey;
  border: solid 5px black;
  width: 300px;
}
#display-wrapper {
  background-color: black;
  text-align: right;
}
#display-previous {
  color: white;
  font-size: 16px;
  min-height: 1.5em;
}
#display {
  color: green;
  font-size: 32px;
  min-height: 1.5em;
}
#buttons {
  display: flex;
  flex-wrap: wrap;
  height: 375px;
}
#clear {
  background-color: red;
  flex-basis: 50%;
}
#equals {
  position: relative;
  background-color: blue;
  height: 150px;
  bottom: 75px;
}
#zero {
  flex-basis: 50%;
}
#add, #subtract, #multiply, #divide {
  background-color: orange;
}
